---
import MainLayout from "./MainLayout.astro";
import { Navbar } from "../components/navbar";

const { title = "Pixel tree", description = "Pixel tree website" } =
    Astro.props;
---

<MainLayout {title} {description}>
    <Navbar />
    <main>
        <slot />
    </main>
</MainLayout>
